<h1>Listing chats</h1>

<table>
  <tr>
    <th>Message</th>
    <th>User</th>
  </tr>

<% for chat in @chats %>
  <tr>
    <td><%=h chat.message %></td>
    <td><%=h chat.user_id %></td>
    <td><%= link_to 'Show', chat %></td>
    <td><%= link_to 'Edit', edit_chat_path(chat) %></td>
    <td><%= link_to 'Destroy', chat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New chat', new_chat_path %>
